%main
  %p
    Mūsu, "Zārku Pasaules", galvenais mērķis ir informēt sabiedrību par tuvākajā apkaimē notiekošo, sniedzot patiesu informāciju. 
  %p
    Šī darba tapšanā piedalījās talantīgi autori (Jēkabs Priedītis, Toms Ozoliņš, Evelīna Klusa) un žurnāliste (Madara Brasava), kas nebaidījās noskaidrot patiesību. Tehnisko atbalstu nodrošināja kompetenti savas jomas pārstāvji (Aleksandrs Sautkins, Stanislavs Dubrovskis), bet par pareizrakstību gādāja uzticams redaktors (Jēkabs Priesītis).

