%main
  = image_tag 'qrcode.png', class: 'qrcode'
  %section.ezerins
    = image_tag 'ezerins.jpg'
    %br
    Meklēju cilvēkus ar kuriem var parunāt par literatūru
    %br
    ezerins1891@gmail.com
  %section.coffin
    .coffin_top
      %div.text 
        = @quote.content unless @quote.nil?
    .coffin_bottom
  %section.kapracis
    = image_tag 'kapracis.png'


