%main
  %section.ezerins
    = image_tag 'ezerins.jpg'
    %br
    Meklēju cilvēkus ar kuriem parunāt var parunāt par literatūru
    %br
    jezerins@gmail.com
  %section.coffin
    .coffin_top
      %div.text 
        = @quote.content unless @quote.nil?
    .coffin_bottom
  %section.kapracis
    = image_tag 'kapracis.png'


