%main
  %section.ezerins
    = image_tag 'ezerins.jpg'
    %br
    Meklēju cilvēkus ar kuriem parunāt var parunāt par literatūru
    %br
    jezerins@gmail.com
  %section.coffin
    .coffin_top
      %div.text 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac varius ipsum, non posuere tortor. In id felis ac justo elementum hendrerit. Nullam aliquet mattis massa sed ultricies. Aenean et felis vitae velit lacinia eleifend. Aliquam ipsum lectus, convallis aliquet pretium et, mollis id leo. Maecenas aliquam porta commodo. Sed lobortis consectetur diam sed blandit. Suspendisse potenti. Curabitur risus libero, accumsan vitae quam ac, consectetur porttitor elit. In fermentum posuere est nec accumsan. Etiam mollis turpis urna, in lobortis diam tincidunt ut. Quisque vitae tincidunt mauris.
    .coffin_bottom
  %section.kapracis
    = image_tag 'kapracis.png'


