%main
  - @posts.each do |post|
    %section.coffin
      .coffin_top
        %h2=link_to post.title, post
      .coffin_bottom
        .text
          - plain_text = post.content.body.to_plain_text
          - cutoff = 500
          - if  plain_text.length < cutoff
            =post.content
          - else
            - plain_text = plain_text[0, cutoff] + '...'
            - content = ActionText::Content.new(plain_text)
            = content


= link_to 'New Post', new_post_path, class: 'button'
