$width: 700;

nav {
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  max-width: $width px;

  a {
    text-decoration: none;
    font-size: 5em;
    color: #d2bfae;
  }

  a::after {
    content: '';
    background: no-repeat url('lopata.png');
    background-position: top 55% left 50%;
    background-size: 45em auto;
    display: block;
    height: 45px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    list-style-type: none;
    margin: auto 30px;
    margin-bottom: 15px;

    a {
      border: #ff0000 solid 2px;
      background-color: #000;
      border-radius: 25px;
      padding: 0.3em 2em;
      transform: translateX(-3%);
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1.9em;
    }

    a:hover {
      background-color: #9f2300;
    }
  }
}
