@import 'graveyard.css.scss';

main {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  flex-wrap: wrap;
  margin: auto;

  section {
    vertical-align: top;
    display: inline-block;
    margin: 50px auto;
  }
}

.show {
  margin-top: 30px;
  /* background: url('oldpaper.png') center no-repeat; */
  max-width: 75ch;

  .trix-content {
    div {
      font-size: 1.5em;
    }
  }
}

.bottom_line {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  width: 69%;
}
.button {
  padding: 10px 15px;
  text-align: center;
  border: #000 solid 1px;
  background-color: black;
  text-decoration: none;
  color: #fff;
  font-family: 'z003medium_italic';
}

.field {
  background-color: #fff;
  color: black;
}
