*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$coffin-width: 300px;

@font-face {
  font-family: 'z003medium_italic';
  src: url('z003-mediumitalic-webfont.woff2') format('woff2'),
    url('z003-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('gothicwithoutmark.jpg'); // no-repeat
  background-size: auto;
  font-family: 'z003medium_italic';
}

.coffin {
  width: var($coffin-width);
  margin: 150px;
}

span {
  overflow: hidden;
  width: 80%;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
}

.coffin_top {
  position: relative;
  height: calc(var($coffin-width) / 2);
}
.coffin_top::before {
  content: '';
  border-top: green;
  height: calc(var($coffin-width) / 2);
  display: block;
  border-left: solid white 2px;
  float: left;
  transform: skewX(-20deg);
}
.border_top {
  border-top: 2px solid white;
  position: absolute;
  width: 82%;
  top: 0;
  left: 9%;
}

.coffin_top::after {
  content: '';
  height: calc(var($coffin-width) / 2);
  display: block;
  border-right: solid white 2px;
  transform: skewX(20deg);
  float: right;
}

.coffin_bottom {
  position: relative;
  height: calc(var($coffin-width) * 1.67);
}

.coffin_bottom::after {
  content: '';
  display: block;
  height: calc(var($coffin-width) * 1.67);
  border-right: solid white 2px;
  transform: skewX(-6.3deg);
  float: right;
}
.coffin_bottom::before {
  content: '';
  display: block;
  height: calc(var($coffin-width) * 1.67);
  border-right: solid white 2px;
  transform: skewX(6.3deg);
  float: left;
}

.border_bottom {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid white;
  width: 81%;
  left: 9.5%;
}

.tomb_stone {
  margin: 150px;
  width: var($coffin-width);
  border: white 2px solid;
  height: calc(var($coffin-width) * 1.5);
  border-radius: 47% / 100px 100px 0 0;
}

