@import 'graveyard.css.scss';

//TODO:add @media to fix font size

main {
  margin: auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  section {
    vertical-align: top;
    display: inline-block;
    margin: 50px auto;
  }

  section.ezerins {
    max-width: 500px;
    color: #fff;
    font-size: 2rem;

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  section.coffin {
    top: 0;
  }

  section.kapracis {
    img {
      width: auto;
      height: 500px;
    }
  }
}
